[package]
name = "findutils"
version = "0.3.0"
homepage = "https://github.com/uutils/findutils"
repository = "https://github.com/uutils/findutils"
edition = "2018"
license = "MIT"
readme = "README.md"
description = "Rust implementation of GNU findutils"
authors = ["uutils developers"]

[dependencies]
chrono = "0.4"
clap = "2.34"
faccess = "0.2.4"
walkdir = "2.3"
regex = "1.6"
once_cell = "1.16"
onig = "6.4"
uucore = { version = "0.0.12", features = ["entries", "fs", "fsext", "mode"] }

[dev-dependencies]
assert_cmd = "2"
filetime = "0.2"
nix = "0.25"
predicates = "2"
serial_test = "0.9"
tempfile = "3"

[[bin]]
name = "find"
path = "src/find/main.rs"

[[bin]]
name = "xargs"
path = "src/xargs/main.rs"

[[bin]]
name = "testing-commandline"
path = "src/testing/commandline/main.rs"
