[package]
name = "findutils"
version = "0.2.0"
homepage = "https://github.com/uutils/findutils"
repository = "https://github.com/uutils/findutils"
edition = "2018"
license = "MIT"
readme = "README.md"
description = "Rust implementation of GNU findutils"
authors = ["uutils developers"]

[dependencies]
chrono = "0.4"
clap = "2.34"
glob = "0.3"
walkdir = "2.3"
tempfile = "3"
regex = "1.5"
once_cell = "1.9"
onig = "6.3"
uucore = { git = "https://github.com/uutils/coreutils", features = ["entries", "fs", "fsext"] }

[dev-dependencies]
assert_cmd = "2"
filetime = "0.2"
predicates = "2"
serial_test = "0.5"

[[bin]]
name = "find"
path = "src/find/main.rs"

[[bin]]
name = "xargs"
path = "src/xargs/main.rs"

[[bin]]
name = "testing-commandline"
path = "src/testing/commandline/main.rs"
