[package]
name = "findutils"
version = "0.7.0"
homepage = "https://github.com/uutils/findutils"
repository = "https://github.com/uutils/findutils"
edition = "2021"
license = "MIT"
readme = "README.md"
description = "Rust implementation of GNU findutils"
authors = ["uutils developers"]

[dependencies]
chrono = "0.4.38"
clap = "4.5"
faccess = "0.2.4"
walkdir = "2.5"
regex = "1.11"
onig = { version = "6.4", default-features = false }
uucore = { version = "0.0.29", features = ["entries", "fs", "fsext", "mode"] }
nix = { version = "0.29", features = ["fs", "user"] }
atty = "0.2.14"

[dev-dependencies]
assert_cmd = "2"
filetime = "0.2"
nix = { version = "0.29", features = ["fs"] }
predicates = "3"
serial_test = "3.2"
tempfile = "3"
pretty_assertions = "1.4.1"

[[bin]]
name = "find"
path = "src/find/main.rs"

[[bin]]
name = "xargs"
path = "src/xargs/main.rs"

[[bin]]
name = "testing-commandline"
path = "src/testing/commandline/main.rs"

# The profile that 'cargo dist' will build with
[profile.dist]
inherits = "release"
lto = "thin"
